@page
@model WebApplication1.Pages.Participants.LogInModel
@{
}


<p>
    Sie haben die Möglichkeit neue Testungen anzumelden und Ihre Stammdaten zu ändern.
</p>

<div class="row">
    <form method="post">
        <div class="form-group col-md-9">
            <button type="submit" class="btn btn-primary" asp-page-handler="NewExaminationBtn_Click">
                Neue Testung
            </button>
        </div>
    </form>
    <form method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-info" asp-page-handler="CancelBtn_Click">
                Abbrechen
            </button>
        </div>
    </form>
</div>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantDto.FirstOrDefault().From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantDto.FirstOrDefault().CampaignName)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.ParticipantDto.FirstOrDefault().TestCenterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantDto.FirstOrDefault().TestResult)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var pd in Model.ParticipantDto)
        {
        <tr>
            <td>
                @Html.DisplayFor(_ => pd.From)
            </td>
            <td>
                @Html.DisplayFor(_ => pd.CampaignName)
            </td>
            <td>
                @Html.DisplayFor(_ => pd.TestCenterName)
            </td>
            <td>
                @Html.DisplayFor(_ => pd.TestResult)
            </td>
            <td>
                <a asp-page="./Examination/Edit" asp-route-id="@pd.Id">Bearbeiten</a> |
                <a asp-page="./Examination/SendConfirmation" asp-route-id="@pd.Id">Bestätigung senden</a> |
                <a asp-page="./Examination/Delete" asp-route-id="@pd.Id">Löschen</a>
            </td>
        </tr>}
    </tbody>

</table>

   